/* css/style.css */
html, body {
    height: 100%; /* Make sure the body and html elements take the full height of the page */
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Style for the header and footer */
header, footer {
    background-color: #3B3B3B; 
    color: white;  /* text */
    text-align: center; 
    box-sizing: border-box;
    width: 100%;  /* Ensure the header spans the full width */
    justify-content: space-between; /* Space out logo, heading, and nav */
    padding: 10px 20px; /* Padding for spacing */
    flex-wrap: wrap; /* Allow elements to wrap on small screens */
}

footer p {
    color: #000000;
}

nav {
    display: flex;
    justify-content: center;
}

#logo {
    max-width: 100px; /* Limit the size of the logo */
    height: auto;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

.footerContainer {
    position: relative;
    display: flex;
    align-items: center;
    height: 150px;
}

.utcnLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}



main {
    flex: 1; /* This ensures the main content takes up all available space */
    margin: auto;
    max-width: 800px;
}

@media screen and (max-width: 765px) {
    main {
        max-width: 90vw;
    }
}


h1 {
    color: white;  /* White text */
}

h2 {
    color: #333;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

h3 {
    color: #444;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}


p {
    text-align: justify;
    line-height: 1.6; /* Optional: improves readability */
}


ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 0.5em 0;
}


.about-section ul {
    padding-left: 20px; /* Parent list */
}

strong {
    color: orangered;
}




/*  */
/*  */
/* People page styles */
/*  */
/*  */
.staff-section, .phd-graduates-section, .phd-students-section, .former-members-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.staff-section {
    display: flex;
    flex-wrap: wrap;      /* Ensures members wrap onto new lines as needed */
    gap: 20px;            /* Adds space between each .member-info div */
    justify-content: center;
    margin-bottom: 40px;
}

.our-team {
    margin-bottom: 30px;
}

.member-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left; /* Changed to left-align text within the details */
    max-width: 95vw; /* Only applies for screen widths below 765px */
}

.member-photo {
    width: 140px;  /* Adjust size as needed */
    height: 140px; /* Ensure it’s square */
    border-radius: 50%; /* Makes the photo circular */
    margin-right: 15px;
    object-fit: cover; /* Ensures the image scales nicely */
    margin-left: 16px;

    @media (max-width: 768px) {
        margin: auto;
        margin-bottom: 12px;
    }
}

.member-info name {
    font-size: 30px;
    font-weight: bold;
}



.member-info p {
    margin: 5px 0;
    text-align: center;
}

.member-info .name {
    font-weight: bold;
}

.member-info .position {
    font-style: italic;
}

.member-info .email, .member-info .phone {
    color: orangered;
}

.member-info a {
    color: orangered;
    text-decoration: none;
}

.member-info a:hover {
    text-decoration: underline;
}

.member-info a:hover {
    text-decoration: underline;
}




.students li, .phd-graduates li {
    background: #fff;
    margin: 8px 0;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 16px;
    color: #444;
    font-weight: bold;
}

.phd-graduates-section ul li, .phd-students-section ul li {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}



/*  */
/*  */
/* Research page style */
/*  */
/*  */


.research-section h1 {
    font-size: 36px;
}

.research-section h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

.research-section h3 {
    font-size: 24px;
    color: orangered;
}

.research-section h4 {
    font-size: 24px;
    color: orangered;
    text-align: center;
}

.research-section h5 {
    font-size: 20px;
    margin-block-end: 0em;
}





.research-section ul {
    padding-left: 20px; /* Parent list */
}

.research-section ul ul {
    padding-left: 40px; /* Indentation for nested lists */
}

.research-section li {
    text-align: justify;
}


.research-section a {
    color: orangered;
}
.projects-section a {
    color: orangered;
}
.datasets-section a {
    color: orangered;
}

/*  */
/*  */
/* Publications page style */
/*  */
/*  */


.publication-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the content horizontally */
    gap: 40px; /* Space between the boxes */
    width: 100%;
    margin: auto; /* Center the entire container on the page */
    max-width: 90vw; /* Only applies for screen widths below 765px */
}


.highlighted-publication {
    background-color: #fef7e3;
    border-left: 5px solid #ffb300;
    padding: 15px 15px 3px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px); /* Adjust for three columns, minus gap */
    min-width: 200px; /* Ensures items don't shrink too small on smaller screens */
    max-width: 400px; /* Limits the maximum width per item */
    flex-grow: 1; /* Allows items to grow equally */
    flex-shrink: 0; /* Prevents shrinking */
}


.highlighted-publication .authors {
    font-size: 14px;
    color: #555;
}
.highlighted-publication .details {
    font-size: 12px;
    color: #777;
}

.highlighted-publication .title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 12px;
}

.highlighted-publication .title a {
    color: orangered;
}

.publication-section2 {
    display: grid;
    flex-wrap: wrap;
    justify-content: center; /* Center the content horizontally */
    gap: 20px; /* Space between the boxes */
    width: 100%;
    margin: auto; /* Center the entire container on the page */
    max-width: 90vw; /* Only applies for screen widths below 765px */
}

.simpler-publication {
    margin-bottom: 3%;
    border-radius: 8px;
    text-align: justify;
}

.simpler-publication .title{
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
}

.simpler-publication .title a{
    color: #555;
}

.simpler-publication .authors {
    font-size: 17px;
    color: #555;
    margin-bottom: 5px;
}

.simpler-publication .details {
    font-size: 14px;
    color: #555;
}


.dataset-section {
    margin-bottom: 30px;
}

.dataset-section a {
    color: #444;
    text-decoration: none;
}

.dataset-section a:hover {
    text-decoration: underline;
}

.download-link {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


/*  */
/*  */
/* PED2025 page style */
/*  */
/*  */



.two-columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

.col-left,
.col-right {
    width: 48%;      /* Adjust if you want narrower or wider columns */
}

.below-columns {
    margin-top: 20px;
}

/* Optional styles to make columns look cleaner */
.two-columns h3 {
    margin-top: 0;
}

.abstract-section {
    margin-top: 40px;
}

.abstract-section h3 {
    margin-bottom: 10px;
}

.etape-section {
    margin-top: 40px;
}

.etape-section h3 {
    margin-bottom: 10px;
}

.etape-list {
    list-style-type: square; /* or circle, disc, none */
    padding-left: 20px;
}

.etape-list li {
    margin: 6px 0;
}

.etape-list a {
    text-decoration: none;
    color: #004aad; /* Adjust to your theme */
    font-weight: 500;
}

.etape-list a:hover {
    text-decoration: underline;
}

.publicatie-link {
    text-decoration: none;
    color: #004aad; /* sau culoarea temei tale */
}

.publicatie-link:hover {
    text-decoration: underline;
    cursor: pointer;
}



